@keyframes smoothscroll1 {

  from,
  to {
    scroll-behavior: smooth;
  }
}

@keyframes smoothscroll2 {

  from,
  to {
    scroll-behavior: smooth;
  }
}

html {
  animation: smoothscroll1 1s;
}

html:focus-within {
  animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-weight: bold
}

body {
  font-family: 'Montserrat';
  color: #00008B;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.heavy {
  font-weight: 700;
}

.container p,
.container li,
td,
blockquote {
  font-weight: 300;
}

blockquote {
  padding: 0 2em;
}

.navbar-brand {
  margin-top: -0.15rem;
  font-weight: bold;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.black {
  background:  #000080;
  color: #F5DEB3;
  font-weight: bold
}

.black a {
  color: #F5DEB3;
}

.black a:hover,
.black a:active {
  opacity: 0.8;
}

th {
  font-weight: bold;
  text-align: left;
  font-size: 1.2rem;
  border-bottom: 1px solid #000080;
}

td {
  vertical-align: middle;
  text-align: left;
  padding: 10px;
  font-size: 1rem;
  word-wrap: break-word;
}

table {
  margin-bottom: 2rem;
  table-layout: fixed;
  border-collapse: separate;
}


ul {
  padding-left: 20px; /* or try margin-left: 20px */
  text-align: left;
}

li {
  padding-left: 0;
}


strong {
  font-weight: bold;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 620px) {
  iframe {
    width: 90% !important;
  }

  td {
    font-size: 0.8rem;
  }
}